Álvaro Hernández Tortosa <aht@8kdata.com> <aht@nosys.es>
Matteo Melli <matteom@8kdata.com> <matteom@8kdata.com>
Matteo Melli <matteom@8kdata.com> <teoincontatto@users.noreply.github.com>
Gonzalo Ortiz Jaureguizar <gortiz@8kdata.com> <gortiz@users.noreply.github.com>
Gonzalo Ortiz Jaureguizar <gortiz@8kdata.com> <gortiz@nosys.es>
Gonzalo Ortiz Jaureguizar <gortiz@8kdata.com> <golthiryus@golthi-linux-chrono>
Jerónimo López <jeronimo@8kdata.com> <jerolba@gmail.com>
Jerónimo López <jeronimo@8kdata.com> <jeronimo@funius.com>
Jerónimo López <jeronimo@8kdata.com> <jeronimo@8kdata.com>
Yeray Darias <yeray@8kdata.com> <ydarias@gmail.com>
