<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'hh:mm:ss.SSS} %-5level '%t' %logger{1.} - %msg%n"/>
        </Console>
        <Async name="ASYNC">
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>
    <Loggers>
        <!-- 8kData & ToroDB code -->

        <Logger name="com.torodb" level="DEBUG" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>
        
        <Logger name="com.torodb.mongodb.repl" level="TRACE" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>
        
        <Logger name="com.torodb.core.retrier" level="TRACE" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>

        <Logger name="com.eightkdata" level="TRACE" additivity="false">
            <AppenderRef ref="ASYNC"/>
        </Logger>

        <!-- Third party libraries -->

        <Logger name="com.zaxxer.hikari" level="WARN" additivity="false"/>
        <Logger name="org.jooq" level="WARN" additivity="false"/>
        <Logger name="org.mongodb" level="WARN" additivity="false"/>
        <Logger name="org.hibernate" level="WARN" additivity="false"/>
        <Logger name="org.postgresql" level="WARN" additivity="false"/>
        <Logger name="org.jboss" level="WARN" additivity="false"/>
        <Logger name="io.netty" level="WARN" additivity="false"/>

        <!-- Root -->

        <Root level="INFO">
            <AppenderRef ref="ASYNC"/>
        </Root>
    </Loggers>
</Configuration>
